@import '../../../styles.scss';

dialog {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80vw;
    max-width: 440px;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:24px;
    border-radius:8px;
    border:none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

h4 {
    padding:0;
    margin:0;
}

.buttons-container {
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: flex-end;
}

.button {
    outline:none;
    border:none;
    padding:12px 16px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
    font-weight:700;
}

.delete {
    background-color: $error;
    color:white;

    &:hover {
        background-color: rgb(219, 26, 26);
        border-color:rgba(240, 55, 55, 0.7)
    }
}

.outline {
    outline:none;
    padding:12px 16px;
    border-radius:8px;
    cursor: pointer;
    transition:.3s;
    background-color: rgb(230, 230, 230);
    color:black;

    &:hover {
        background-color: rgba(230, 230, 230, .7);
    }
}