<section class="contact-hero">
    <h1>Contactez-nous</h1>
    <p>Notre équipe est toujours à votre disposition pour vous aider et vous informer !</p>
</section>

<section class="contact-section">
    <h2>Nous Contacter</h2>
    <form>
        <div class="form-field">
            <label for="lastname">Nom*</label>
            <input type="text" name="lastname"/>
        </div>
        <div class="form-field">
            <label for="firstname">Prénom*</label>
            <input type="text" name="firstname"/>
        </div>
        <div class="form-field">
            <label for="email">Email*</label>
            <input type="email" name="email"/>
        </div>
        <div class="form-field">
            <label for="phone">Numéro de téléphone*</label>
            <input type="numeric" name="phone"/>
        </div>
        <div class="form-field">
            <label for="message">Message*</label>
            <textarea type="text" name="message"></textarea> 
        </div>
        <div class="errors">
            
        </div>
        <input type="submit" class="button" value="Envoyer"> 
        
    </form>
</section>