<header>
    <img class="logo" alt='logo' src="assets/logo.svg" routerLink="">
    <nav [ngClass]="{ 'open': menuOpen }">
        <ul>
            <li routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
            Accueil
            </li>
            
            <li routerLink="services" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
            Services
            </li>

            <li routerLink="vehicules" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
            Véhicules d'occasion
            </li>

            <li routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">
            Nous contacter
            </li>
            
            @if (token){
                <li routerLink="admin"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeMenu()">Espace Personnel</li>
                <button  routerLink="connexion" class="button mobile-login-button" (click)="closeMenu()" (click)="logout()">
                Déconnexion
                </button>
            } @else {
                <button  routerLink="connexion" class="button mobile-login-button" (click)="closeMenu()" >
                    Se connecter
                </button>

            }

        </ul>
    </nav>
    @if (token) {
        <button (click)="logout()" class="button login-button">Déconnexion</button>

    } @else { 
        <button routerLink="connexion"  class="button login-button">Se connecter</button>

    }
    <i [ngClass]="{'bi bi-list':!menuOpen, 'bi bi-x':menuOpen}" (click)="toggleMenu()"></i>
</header>
