@import '../../../styles.scss';

h1 {
    text-align:center;
    margin:80px;
}

section {
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: center;
}

ul {
    padding:0;
    margin:0;
    list-style:none;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    gap:24px;
}

li {
    cursor:pointer;
    padding:8px 12px;
    background-color: $primary;
    color:white;
    font-weight: 500;
    font-size:20px;
    border-radius: 8px;

    &:hover {
        text-decoration: underline;
    }
}