
<h1>Espace personnel</h1>
<section>
    <nav>
        <ul>
            <li routerLink="vehicules" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Espace Voitures</li>
            <li routerLink="services" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Espace Services</li>
            <li routerLink="schedules" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Modifier Horaires</li>
            <li routerLink="comments" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Voir commentaires </li>
        </ul>
    </nav>
</section>
