<h1>Se connecter</h1>

<form [formGroup]="userData">
    <div class="form-field">
        <label for="username" >Adresse mail*</label>
        <input type="email" name="username" formControlName="username"/>
    </div>
    <div class="form-field">
        <label for="password">Mot de passe*</label>
        <input type="password" name="password" formControlName="password"/>
    </div>
    <div class="errors">
        
    </div>
    <input type="submit" class="button" (click)="loginUser()" value="Envoyer"> 
    
</form>