/* Font Sizes Variables */
$fs-body:16px;
$fs-body-small:14px;
$ff-body:'Inter','sans-serif';

/* Color Variables */
$primary:rgba(208, 35, 50, 1);
$sucess:rgba(25, 135, 84, 1);
$error:rgba(226, 54, 54, 1);

/* General Styles*/

* {
    font-family:'Inter',sans-serif
}

body {
    margin:0;
    padding:0;
}

h1 {
    font-family:'Roboto Slab',serif;
    font-size:clamp(28px,3vw,42px);
}

h2 {
    font-family:'Roboto Slab',serif;
    font-size:clamp(24px,3vw,32px);
}

h3 {
    font-family:'Roboto-slab',sans-serif;
    font-size:20px;
}

.button {
    margin: 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 14px 18px;
    border-radius: 8px;
    transition: 0.2s;
    font-weight: 700;
    background-color: $primary;
    color: white;

    &:hover {
        background-color:rgbargba(208, 35, 50, .8);
    }
}

.button-outline {
    margin: 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 13px 17px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 700;
    background-color: transparent;
    border:2px solid $primary;
    color: black;

    &:hover {
        background-color: $primary;
        color:white;
    }
}
/* */


form {
    width:90%;
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:12px;

    .form-field {
        display:flex;
        flex-direction: column;
        gap:4px;
        width:100%;

        >label {
            font-weight:700;
        }

        >input {
            font-size:18px;
            padding:8px 4px;
            margin:0;
            border-radius:6px;
            border:1px solid rgba(0,0,0,.3);
            font-size:16px;
        }


        >textarea {
            max-width:100%;
            height:300px;
            padding:8px 4px;
            border:1px solid rgba(0,0,0,.3);
            font-size:16px;
        }

        .button {
            width:fit-content;
        }
    }

    .errors {
        color: $error;
        display:flex;
        flex-direction: column;
        gap:4px;
        width:100%;
        border-radius: 8px;
        padding:4px 0;

        > p {
            vertical-align: middle;
            margin:0;
        }

        >p > i {
            vertical-align: middle;
            font-size:20px;
            font-weight:700;
        }
    }
}



table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-x: hidden;
}

table td, #cars th {
  border: 1px solid white;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary;
  color: white;
}

.actions-div {
    font-size:24px;
    display:flex;
    justify-content: space-around;
}

i {
    cursor:pointer;
    transition: .2s;
}

.bi-trash3-fill {
    color:rgb(240, 106, 106);

    &:hover {
        color:red;
    }
}

.bi-pencil-square {
    &:hover {
        color:rgb(60, 60, 240)
    }
}

.buttons-div {
    margin:40px 32px;
    display:flex;
    gap:24px;

    

    button:hover {
        opacity: .9;
    }

    button.new {
        background-color:#0d7dc8;
        i {
            margin-right:8px;
        }
    }
}

