/* Font Sizes Variables */
$fs-body:16px;
$fs-body-small:14px;
$ff-body:'Inter','sans-serif';

/* Color Variables */
$primary:rgba(208, 35, 50, 1);
$sucess:rgba(25, 135, 84, 1);
$error:rgba(226, 54, 54, 1);

/* General Styles*/

* {
    font-family:'Inter',sans-serif
}

body {
    margin:0;
    padding:0;
}

h1 {
    font-family:'Roboto Slab',serif;
    font-size:clamp(28px,3vw,42px);
}

h2 {
    font-family:'Roboto Slab',serif;
    font-size:clamp(24px,3vw,32px);
}

h3 {
    font-family:'Roboto-slab',sans-serif;
    font-size:20px;
}

.button {
    margin: 0;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: 700;
    background-color: $primary;
    color: white;
}
/* */
